* {
  color: #fff;
}

.App {
  height: 100vh;
  display: flex;
}

aside {
  width: 80px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside:hover {
  width: 150px;
}

main {
  flex-grow: 1;
  background-color: red;
  display: flex;
  flex-direction: column;
}

article {
  background-color: pink;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  background-color: skyblue;
}
